/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TopHeadRowTableInProc;
	border-collapse: collapse;
	max-id: 9;
	cell-padding-right: 20px;
	margin-left: 5px;
	margin-top: 6px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #a9a9a9;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Body1;
	id: 1;
	separator-color: #a9a9a9;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #a9a9a9;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-TopHeadRowTableInProc
{
	border-collapse: collapse;
	margin-left: 5px;
	margin-top: 6px;
	border-spacing: 0px 0px;
}

.TableStyle-TopHeadRowTableInProc-Column-Column1
{
	
}

.TableStyle-TopHeadRowTableInProc-Head-Header1
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadI-Column1-Header1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadE-Column1-Header1
{
	padding-right: 20px;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TopHeadRowTableInProc-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadF-Column1-Header1
{
	padding-right: 20px;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TopHeadRowTableInProc-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadH-Column1-Header1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadD-Column1-Header1
{
	padding-right: 20px;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TopHeadRowTableInProc-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadC-Column1-Header1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadB-Column1-Header1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadA-Column1-Header1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-HeadG-Column1-Header1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-Foot-Footer1
{
	
}

.TableStyle-TopHeadRowTableInProc-FootI-Column1-Footer1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootE-Column1-Footer1
{
	padding-right: 20px;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-top-style: solid;
}

.TableStyle-TopHeadRowTableInProc-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootF-Column1-Footer1
{
	padding-right: 20px;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-top-style: solid;
}

.TableStyle-TopHeadRowTableInProc-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootH-Column1-Footer1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootD-Column1-Footer1
{
	padding-right: 20px;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-top-style: solid;
}

.TableStyle-TopHeadRowTableInProc-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootC-Column1-Footer1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootB-Column1-Footer1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootA-Column1-Footer1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-FootG-Column1-Footer1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-Body-Body1
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyI-Column1-Body1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyE-Column1-Body1
{
	padding-right: 20px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TopHeadRowTableInProc-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyF-Column1-Body1
{
	padding-right: 20px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TopHeadRowTableInProc-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyH-Column1-Body1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyD-Column1-Body1
{
	padding-right: 20px;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	border-bottom-style: solid;
}

.TableStyle-TopHeadRowTableInProc-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyC-Column1-Body1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyB-Column1-Body1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyA-Column1-Body1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TopHeadRowTableInProc-BodyG-Column1-Body1
{
	padding-right: 20px;
}

.TableStyle-TopHeadRowTableInProc-BodyG-Column1-Body1 p
{
	
}


